build/
node_modules/
themes/alacritty/
themes/spicetify/color.ini
themes/highlight.js/
themes/pygments/
themes/vim/
themes/vscode/**/*.json
themes/*.tgz
themes/*.zip
themes/*.vsix
themes/**/*.lua
themes/rofi/*.rasi