build/
node_modules/
themes/alacritty/
themes/spicetify/color.ini
themes/highlight.js/
themes/pygments/
themes/vim/
themes/vscode/**/*.json
themes/*.tgz
themes/*.tar.gz
themes/*.zip
themes/*.vsix
themes/**/*.vsix
themes/**/*.lua
themes/rofi/*.rasi
themes/hypr/*.conf
themes/gtk-css/*.css
themes/bash
themes/ghostty
themes/helix
**/LICENSE
